<section class="todoapp">
    <header class="header">
        <h1>{{ title }}</h1>
        <input class="new-todo" placeholder="{{ placeholder }}">
    </header>
    <section class="main" style="display: block;">
        <input id="toggle-all" class="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
          <li data-id="1659859088014" class="">
            <div class="view">
              <input class="toggle" type="checkbox">
              <label>111</label>
              <button class="destroy"></button>
            </div>
          </li>
          <li data-id="1659859089744" class="">
            <div class="view">
              <input class="toggle" type="checkbox">
              <label>222</label>
              <button class="destroy"></button>
            </div>
          </li>
        </ul>
      </section>
      
</section>

